.navTitle{
    font-family: 'Montserrat',sans-serif;
    color: #ffffff!important;
    font-weight: 700;
    font-size: 24px;
}

.navTitleScroll{
    font-family: 'Montserrat',sans-serif;
    color: #0073e6!important;
    font-weight: 700;
    font-size: 24px;
}

.navBackground{
    background-color: rgba(00,00,00,0.1)!important;
    transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -webkit-transition: background-color 400ms linear;
}

.navBackgroundScroll{
    background-color: #ffffff!important;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.45);
    transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -webkit-transition: background-color 400ms linear;
}

.navItem{
    text-decoration: none!important;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}

.navItemScroll{
    text-decoration: none!important;
    font-family: 'Montserrat',sans-serif;
    color: #000000!important;
    font-weight: 400;
    font-size: 16px;
}

.topFixedBanner{
    background-image: url("../images/banner.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topFixedBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(0,0,0, 0.7);
}

.topContent{
    margin-top: 12rem;
}

.topTitle{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
}

.topSubTitle{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
}

.serviceCard{
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
}

.serviceCard:hover{
    box-shadow: 0 0 10px 0 rgba(0,115,230,0.2);
}

.serviceMainTitle{
    color: #0073e6;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}

.serviceNameTitle{
    margin-top: 1rem;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.serviceDescription{
    color: rgba(18, 18, 18, 0.95);
    margin-top: 1rem;
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
}

.summaryBanner{
    background-image: url("../images/banner.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.summaryBannerOverlay{
    position: absolute;
    min-height: 350px;
    width: 100%;
    background: rgba(0,0,0, 0.7);
}

.summerySection{
    margin-top: 5rem;
}

.countNumber{
    color: #ffffff;
    font-family: 'Montserrat',sans-serif;
    font-size: 48px;
    font-weight: 600;
}

.countTitle{
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.countSection{
    margin-top: 16%;
}


.cardTitle{
    color: #000000;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.cardSubTitle{
    color: #000000;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.iconBullet{
    color: #0073e6;
    font-size: 16px;
}

.workCard{
    margin-top: 14%;
    padding: 10px 10px 10px 18px;
    border-radius: 2px;
}

.projectCard{
    border-radius: 2px;
    border: none!important;
    margin: 2px 2px 25px 2px;
    box-shadow: 0 0 20px 0 rgba(0,115,230,0.2);
}

.projectCard:hover{
    box-shadow: 0 0 50px 0 rgba(0,115,230,0.2);
}

.projectCardTitle{
    font-family: 'Montserrat',sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}

.projectCardDescription{
    font-family: 'Raleway',sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
}

.courseTitle{
    font-family: 'Montserrat',sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}

.courseDescription{
    font-family: 'Raleway',sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}

.courseButton{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    color: #0073e6;
}

.courseButton:hover{
    color: rgba(6, 6, 6, 0.9);
}

.videoCard{
    box-shadow: 0 0 10px 0 rgba(0,115,230,0.2);
    padding: 6rem 4rem 6rem 4rem;
    background-color: #ffffff;
    margin: 50px auto;
}

.videoTitle{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    font-size: 22px;
    color: #0073e6;
}

.videoDescription{
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.playButton{
    color: #0073e6;
    font-size: 48px;
    cursor: pointer;
}
.reviewImg{
    margin: 0px auto;
    padding: 3px;
    height: 100px;
    width: 100px;
    border: 1px solid #0073e6;
    border-radius: 50%;
}

.reviewTitle{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.81);
}

.reviewDescription{
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.91);
}

.footerSection{
    margin-top: 5rem;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2); ;
}

.footerSocialIcon{
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #0073e6;
}

.footerSocialIcon:hover{
    color: rgba(0, 0, 0, 0.91);
}

.footerLink {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footerLink:hover{
    color: #0073e6;
}

.copyRightSection{
    padding: 20px 20px 20px 20px;
    background-color: #0073e6;
}

.copyRightText{
    font-family: 'Montserrat SemiBold', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
}

.copyRightText:hover{
    color: rgba(0, 0, 0, 0.91);
}

.topPageSection{
    background-image: url("../images/banner.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topPageOverlay{
    position: absolute;
    min-height: 300px;
    width: 100%;
    background: rgba(0,0,0, 0.7);
}

.topPageContent{
    margin-top: 9rem;
}

.topPageTitle{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 28px;
}

.form-control:focus{
    border-radius: 2px !important;
    border-color: #0073e6 !important;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2) !important;
}

.link-style{
    text-decoration: none!important;
    color: white!important;
}

.link-style:hover{
    text-decoration: none!important;
    color: white!important;
}

